doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="css/main.css")

  body
    .intro-wrapper
      .intro-section
        .section
          h1.h2.intro-text
            | Hi there!
            br
            span.name Elena Aguilar 
            | — Graphic designer based in Madrid, Spain. Working at the intersection of art direction and graphic design I enjoy the challenge of  developing brand identities. Below you can find a selection of personal and client-based projects - a visual catalogue of mutating ideas represented by impactful images. I write with shapes to give meaning to the abstract.

      .project-nav-section-holder
      .project-nav-section
        .section
          .project-nav-section-header
            .project-nav-section-header-title 
              a(href="#") Elena Aguilar
              span /
              | Work
        .section
          a.project-nav-item(href="" data-scroll='solid') Solid Tapes
          a.project-nav-item(href="" data-scroll='solid_1993') Solid Tapes 1993
          a.project-nav-item(href="" data-scroll='jsa') JSA Camera
          a.project-nav-item(href="" data-scroll='solid_virgulta') Solid Tapes Virgulta
          a.project-nav-item(href="" data-scroll='universal') Universal Music Spain MC
          a.project-nav-item(href="" data-scroll='crumb') Crumb
          a.project-nav-item(href="" data-scroll='solid_ian') Solid Tapes Ian G.
          a.project-nav-item(href="" data-scroll='rotten') Rotten City Records GN
          a.project-nav-item(href="" data-scroll='solid_gxnzx') Solid Tapes GXNZX
          a.project-nav-item(href="" data-scroll='lab') Lab
          a.project-nav-item(href="" data-scroll='solid_beat') Solid Tapes BeatLove
          a.project-nav-item(href="" data-scroll='silent') Silent Servant Poster Gig
          a.project-nav-item(href="" data-scroll='universal') Universal Music Spain DB (David Bisbal)*
          a.project-nav-item(href="" data-scroll='belleville') Belleville
          a.project-nav-item(href="" data-scroll='bluetrain') Bluetrain+Rotten City
          a.project-nav-item(href="" data-scroll='acronym') Acronym Poster Gig
          a.project-nav-item(href="" data-scroll='2014') 2014Completo
          a.project-nav-item(href="" data-scroll='tocados') Tocados Cárnicos

    .project-view-section
      .section
        
        
        .project(data-anchor='solid' id='solid' ) 
          .row
            .col-md-8
              h2.project-title Solid Tapes
          .row
            .col-md-8.col-md-offset-2
              img.project-img(data-original="images/portfolio/ST01_1993_ELENAGUILAR_COLLAGE_PORTADA_2.jpg")
              img.project-img(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9536.jpg")
              img.project-img(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9547.jpg")
              img.project-img(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9558.jpg")
              img.project-img(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9568.jpg")
              img.project-img(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9576.jpg")
              img.project-img(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9605.jpg")
        
        .project(data-anchor='solid_1993' id='solid_1993')
          .row
            .col-md-8
              h2.project-title Solid Tapes 1993
              p.project-description Portada, diseño gráfico y packaging para la primera referencia de SOLID TAPES.  La primera referencia de SOLID TAPES consiste en una serie de remixes a partir de la canción 1993 del artista Abrigo De Pelos. Junto a él y Taller Piccolo se diseñó el packaging de la edición especial. El concepto trasladado a la portada, no fue más que la añoranza de la juventud y sus noches de fiesta en el ‘93.
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_COLLAGE_PORTADA_2.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9536.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9547.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9558.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9568.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9576.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9605.jpg")
        
        .project(data-anchor='jsa' id='jsa' ) 
          .row
            .col-md-8
              h2.project-title JSA Camera
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/JSA_CORPORATE_IDENTITY_LOGO.jpg")
              img.project-img.lazy(data-original="images/portfolio/JSA_CORPORATE_IDENTITY_LOGO_GIF.gif")
              img.project-img.lazy(data-original="images/portfolio/JSA_CORPORATE_IDENTITY_MOODBOARD.jpg")
              img.project-img.lazy(data-original="images/portfolio/JSA_CORPORATE_IDENTITY_VISITING_CARD.jpg")
              img.project-img.lazy(data-original="images/portfolio/JSA_CORPORATE_IDENTITY_WEB.jpg")
        
        .project(data-anchor='solid_virgulta' id='solid_virgulta' ) 
          .row
            .col-md-8
              h2.project-title Solid Tapes Virgulta
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/ST02_ELENAGUILAR_VIRGULTA_FOTO_PRODUCTO_01.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST02_ELENAGUILAR_VIRGULTA_FOTO_PRODUCTO_02.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST02_ELENAGUILAR_VIRGULTA_FOTO_PRODUCTO_03.jpg")
        
        .project(data-anchor='universal' id='universal' ) 
          .row
            .col-md-8
              h2.project-title Universal Music Spain MC
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_DB_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8424.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_DB_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8434.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_DB_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8439.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_DB_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8451.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_DB_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8454.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_DB_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8462.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_DB_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8469.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_DB_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_LOGO_CONSTRUCTION.gif")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_DB_MUSIC_CONCEPT_DESGIN_ELENAGUILAR_MOODBOARD.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_MC_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8220.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_MC_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8229.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_MC_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8239.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_MC_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8247.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_MC_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8250.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_MC_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8253.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_MC_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8282.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_MC_CONCEPT_MUSIC_DESGIN_ELENAGUILAR_IMG_8304.jpg")
              img.project-img.lazy(data-original="images/portfolio/UNIVERSAL_MC_MUSIC_CONCEPT_DESGIN_ELENAGUILAR_MOODBOARD.jpg")
        
        .project(data-anchor='crumb' id='crumb' ) 
          .row
            .col-md-8
              h2.project-title Crumb
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/CRUMB_CORPORATE_IDENTITY_ELENAGUILAR_CARDS.jpg")
              img.project-img.lazy(data-original="images/portfolio/CRUMB_CORPORATE_IDENTITY_ELENAGUILAR_IMG_01.jpg")
              img.project-img.lazy(data-original="images/portfolio/CRUMB_CORPORATE_IDENTITY_ELENAGUILAR_IMG_02.jpg")
              img.project-img.lazy(data-original="images/portfolio/CRUMB_CORPORATE_IDENTITY_ELENAGUILAR_LOGO.jpg")
              img.project-img.lazy(data-original="images/portfolio/CRUMB_CORPORATE_IDENTITY_ELENAGUILAR_MENU.jpg")
              img.project-img.lazy(data-original="images/portfolio/CRUMB_CORPORATE_IDENTITY_ELENAGUILAR_SYMBOL.jpg")
              img.project-img.lazy(data-original="images/portfolio/CRUMB_CORPORATE_IDENTITY_ELENAGUILAR_TOTE_BAG.jpg")
              img.project-img.lazy(data-original="images/portfolio/CRUMB_LOGO_COSNTRUCCION_ELENAGUILAR.gif")
        
        .project(data-anchor='solid_ian' id='solid_ian' ) 
          .row
            .col-md-8
              h2.project-title Solid Tapes Ian G.
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/ST03_IAN-G_NYCTOFILIA_ELENAGUILAR_PARTES_DE_LA_NOCHE.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST03_IAN-G_NYCTOFILIA_ELENAGUILAR_PORTADA_ALBUM.jpg")
        
        .project(data-anchor='rotten' id='rotten' ) 
          .row
            .col-md-8
              h2.project-title Rotten City Records GN
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/GATOS_NEGROS_7TH_LIFE_ROTTEN_CITY_ALBUM_COVER_ELENAGUILAR_.jpg")
              img.project-img.lazy(data-original="images/portfolio/GATOS_NEGROS_ROTTEN_CITY_MOCKUP_2_CD_DIGIPACK_ELENAGUILAR.jpg")
              img.project-img.lazy(data-original="images/portfolio/GATOS_NEGROS_ROTTEN_CITY_MOCKUP_CD_DIGIPACK_ELENAGUILAR.jpg")
        
        .project(data-anchor='solid_gxnzx' id='solid_gxnzx' ) 
          .row
            .col-md-8
              h2.project-title Solid Tapes GXNZX
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/ST04_GXNZX_ROHYPNOL_ELENAGUILAR-(beattape)_IMG_1.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST04_GXNZX_ROHYPNOL_ELENAGUILAR-(beattape)_IMG_2.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST04_GXNZX_ROHYPNOL_ELENAGUILAR-(beattape)_IMG_5.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST04_GXNZX_ROHYPNOL_ELENAGUILAR-(beattape)_PORTADA_GIF_.gif")
              img.project-img.lazy(data-original="images/portfolio/ST04_GXNZX_ROHYPNOL_ELENAGUILAR_PORTADA_ALBUM_.jpg")
        
        .project(data-anchor='lab' id='lab' ) 
          .row
            .col-md-8
              h2.project-title Lab
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/F_Q_LAB_CORPORATE_IDENTITY_ELENAGUILAR_APLICACION_1.jpg")
              img.project-img.lazy(data-original="images/portfolio/F_Q_LAB_CORPORATE_IDENTITY_ELENAGUILAR_APLICACION_2.jpg")
              img.project-img.lazy(data-original="images/portfolio/F_Q_LAB_CORPORATE_IDENTITY_ELENAGUILAR_APLICACION_3.jpg")
              img.project-img.lazy(data-original="images/portfolio/F_Q_LAB_CORPORATE_IDENTITY_ELENAGUILAR_APLICACION_5.jpg")
              img.project-img.lazy(data-original="images/portfolio/F_Q_LAB_CORPORATE_IDENTITY_ELENAGUILAR_LOGO.jpg")
              img.project-img.lazy(data-original="images/portfolio/F_Q_LAB_CORPORATE_IDENTITY_ELENAGUILAR_LOGO_CONSTRUCTION_.gif")
              img.project-img.lazy(data-original="images/portfolio/F_Q_LAB_CORPORATE_IDENTITY_ELENAGUILAR_MOODBOARD.jpg")
              img.project-img.lazy(data-original="images/portfolio/F_Q_LAB_CORPORATE_IDENTITY_ELENAGUILAR_SIMBOLOS.gif")
        
        .project(data-anchor='solid_beat' id='solid_beat' ) 
          .row
            .col-md-8
              h2.project-title Solid Tapes BeatLove
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/ST05_BEAT_LOVE_SAVE_ELENAGUILAR_IMG_14.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST05_BEAT_LOVE_SAVE_ELENAGUILAR_IMG_15.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST05_BEAT_LOVE_SAVE_ELENAGUILAR_IMG_16.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST05_BEAT_LOVE_SAVE_ELENAGUILAR_IMG_17.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST05_BEAT_LOVE_SAVE_ELENAGUILAR_PORTADA_ALBUM_.jpg")
        
        .project(data-anchor='silent' id='silent' ) 
          .row
            .col-md-8
              h2.project-title Silent Servant Poster Gig
        
        .project(data-anchor='universal' id='universal' ) 
          .row
            .col-md-8
              h2.project-title Universal Music Spain DB (David Bisbal)*
        
        .project(data-anchor='belleville' id='belleville' ) 
          .row
            .col-md-8
              h2.project-title Belleville
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/BELLEVILLE_CORPORATE_IDENTITY_ELENAGUILAR_CARTEL_DICIEMBRE.jpg")
              img.project-img.lazy(data-original="images/portfolio/BELLEVILLE_CORPORATE_IDENTITY_ELENAGUILAR_CARTEL_ENERO.jpg")
              img.project-img.lazy(data-original="images/portfolio/BELLEVILLE_CORPORATE_IDENTITY_ELENAGUILAR_CARTEL_FEBRERO.jpg")
              img.project-img.lazy(data-original="images/portfolio/BELLEVILLE_CORPORATE_IDENTITY_ELENAGUILAR_LOGO.jpg")
              img.project-img.lazy(data-original="images/portfolio/BELLEVILLE_CORPORATE_IDENTITY_ELENAGUILAR_MOODBOARD.jpg")
        
        .project(data-anchor='bluetrain' id='bluetrain' ) 
          .row
            .col-md-8
              h2.project-title Bluetrain+Rotten City
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/FLYER_BLUETRAIN+ROTTEN_CITY_ELENAGUILAR.jpg")
        
        .project(data-anchor='acronym' id='acronym' ) 
          .row
            .col-md-8
              h2.project-title Acronym Poster Gig
        
        .project(data-anchor='2014' id='2014' ) 
          .row
            .col-md-8
              h2.project-title 2014Completo
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/2014COMPLETO_12MESES+DETALLES_MAYKELLIMA+ELENAGUILAR.gif")
              img.project-img.lazy(data-original="images/portfolio/2014COMPLETO_12MESES_COLLAGE_ORIG_MAYKELLIMA+ELENAGUILAR.gif")
              img.project-img.lazy(data-original="images/portfolio/2014COMPLETO_ENERO_MES_MAYKELLIMA+ELENAGUILAR.png")
        
        .project(data-anchor='tocados' id='tocados' ) 
          .row
            .col-md-8
              h2.project-title Tocados Cárnicos
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/TOCADOS_CARNICOS_COLLAGE_ELENAGUILAR.gif")

        .project(data-anchor='solid-tapes' id='solid-tapes')
          .row
            .col-md-8.col-md-offset-2
              


              img.project-img.lazy(data-original="images/portfolio/COLLAGE_69_ELENAGUILAR_4.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_AH_ELENAGUILAR_7.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_AW_ELENAGUILAR_5.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_AY!_ELENAGUILAR_8.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_CABEZAGLITCH2_ELENAGUILAR_18.gif")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_CABEZAGLITCH_ELENAGUILAR_18.gif")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_ER_ELENAGUILAR_10.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_EX_ELENAGUILAR_6.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_FAY_ELENAGUILAR_11.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_FLESH_ELENAGUILAR_1.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_FLESH_ELENAGUILAR_12.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_FLESH_ELENAGUILAR_15.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_FLESH_ELENAGUILAR_2.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_FLESH_ELENAGUILAR_3.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_MANOSGLITCH_ELENAGUILAR_17.gif")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_ML_ELENAGUILAR_16.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_MM_ELENAGUILAR_13.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_NINJA_FLESH_ELENAGUILAR_14.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_ON PAPER_FOR_ACRONYM_GIG_GIRADISCOS_ELENAGUILAR.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_ON_PAPER_FOR_SILENT_SERVANT_GIG_GIRADISCOS_ELENAGUILAR.jpg")
              img.project-img.lazy(data-original="images/portfolio/COLLAGE_PERSPECTIVE_ELENAGUILAR_9.jpg")


              

              


              

              img.project-img.lazy(data-original="images/portfolio/MORREO_COLLAGE_ELENAGUILAR_01.jpg")
              img.project-img.lazy(data-original="images/portfolio/MORREO_COLLAGE_ELENAGUILAR_02.jpg")
              img.project-img.lazy(data-original="images/portfolio/MORREO_COLLAGE_ELENAGUILAR_03.jpg")
              img.project-img.lazy(data-original="images/portfolio/MORREO_COLLAGE_ELENAGUILAR_04.jpg")
              img.project-img.lazy(data-original="images/portfolio/MORREO_COLLAGE_ELENAGUILAR_05.jpg")
              img.project-img.lazy(data-original="images/portfolio/MORREO_COLLAGE_ELENAGUILAR_06.jpg")
              img.project-img.lazy(data-original="images/portfolio/MORREO_COLLAGE_ELENAGUILAR_GIF.gif")
              img.project-img.lazy(data-original="images/portfolio/MORREO_COLLAGE_ELENAGUILAR_GIF_2.gif")

              img.project-img.lazy(data-original="images/portfolio/NATURE_POSTER_ABRIL_ELENAGUILAR.gif")
              img.project-img.lazy(data-original="images/portfolio/NATURE_POSTER_ABRIL_ELENAGUILAR.jpg")
              img.project-img.lazy(data-original="images/portfolio/NATURE_POSTER_MAYO_ELENAGUILAR.jpg")
              img.project-img.lazy(data-original="images/portfolio/NATURE_POSTER_SEMANA_SANTA_ELENAGUILAR.jpg")

              img.project-img.lazy(data-original="images/portfolio/POSTER_FOR_ACRONYM_GIG_GIRADISCOS_ELENAGUILAR.jpg")
              img.project-img.lazy(data-original="images/portfolio/POSTER_FOR_SILENT_SERVANT_GIG_GIRADISCOS_ELENAGUILAR.jpg")

              img.project-img.lazy(data-original="images/portfolio/RUMBA_POSTER_ABRIL_ELENAGUILAR.jpg")
              img.project-img.lazy(data-original="images/portfolio/RUMBA_POSTER_FEBRERO_ELENAGUILAR.gif")
              img.project-img.lazy(data-original="images/portfolio/RUMBA_POSTER_FEBRERO_ELENAGUILAR.jpg")
              img.project-img.lazy(data-original="images/portfolio/RUMBA_POSTER_MARZO_ELENAGUILAR.gif")
              img.project-img.lazy(data-original="images/portfolio/RUMBA_POSTER_MARZO_ELENAGUILAR.jpg")

              img.project-img.lazy(data-original="images/portfolio/SOLID_TAPES_IMG_CONCEPT_ELENAGUILAR_GIF.gif")
              img.project-img.lazy(data-original="images/portfolio/SOLID_TAPES_LOGO_ELENAGUILAR.jpg")
              img.project-img.lazy(data-original="images/portfolio/SOLID_TAPES_LOGO_ELENAGUILAR_GIF.gif")

              img.project-img.lazy(data-original="images/portfolio/ST02_VIRGULTA_PORTADA_ELENAGUILAR_7.jpg")

              img.project-img.lazy(data-original="images/portfolio/ST03_IANG_NYCTOPHILIAELENAGUILAR_GIF.gif")
              img.project-img.lazy(data-original="images/portfolio/ST03_IANG_NYCTOPHILIA_ELENAGUILAR_IMG_2.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST03_IANG_NYCTOPHILIA_ELENAGUILAR_IMG_6.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST03_IANG_NYCTOPHILIA_ELENAGUILAR_IMG_7.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST03_IANG_NYCTOPHILIA_ELENAGUILAR_PARTES_NOCHE_GIF.gif")


              

              img.project-img.lazy(data-original="images/portfolio/ST_MOODBOARD_CORPORATE_IDENTITY_ELENAGUILAR.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST_MOODBOARD_ROTTENCITY_FLYER_ELENAGUILAR.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST_MOODBOARD_ROTTENCITY_GATOS_NEGROS_ALBUM_ELENAGUILAR.jpg")

              

              

              img.project-img.lazy(data-original="images/portfolio/bored_1.jpg")
              img.project-img.lazy(data-original="images/portfolio/bored_2.jpg")
              img.project-img.lazy(data-original="images/portfolio/bored_3_.jpg")
        

    script(src='js/jquery-3.1.1.min.js')
    script(src='js/scroll.js')
    script(src='js/jquery.lazyload.min.js')
    script(type='text/javascript').
      $("img.lazy").lazyload();