doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="css/main.css")

  body
    .intro-wrapper
      .intro-section
        .section
          h1.h2.intro-text
            | Hi there!
            br
            span.name Elena Aguilar 
            | — Graphic designer based in Madrid, Spain. Working at the intersection of art direction and graphic design I enjoy the challenge of  developing brand identities. Below you can find a selection of personal and client-based projects - a visual catalogue of mutating ideas represented by impactful images. I write with shapes to give meaning to the abstract.

      .project-nav-section-holder
      .project-nav-section
        .section
          .project-nav-section-header
            .project-nav-section-header-title 
              a(href="#") Elena Aguilar
              span /
              | Work
        .section
          a.project-nav-item(href="" data-scroll='solid') Solid Tapes
          a.project-nav-item(href="" data-scroll='solid_1993') Solid Tapes 1993
          a.project-nav-item(href="" data-scroll='jsa') JSA Camera
          a.project-nav-item(href="" data-scroll='solid_virgulta') Solid Tapes Virgulta
          a.project-nav-item(href="" data-scroll='universal') Universal Music Spain MC
          a.project-nav-item(href="" data-scroll='crumb') Crumb
          a.project-nav-item(href="" data-scroll='solid_ian') Solid Tapes Ian G.
          a.project-nav-item(href="" data-scroll='rotten') Rotten City Records GN
          a.project-nav-item(href="" data-scroll='solid_gxnzx') Solid Tapes GXNZX
          a.project-nav-item(href="" data-scroll='lab') Lab
          a.project-nav-item(href="" data-scroll='solid_beat') Solid Tapes BeatLove
          a.project-nav-item(href="" data-scroll='silent') Silent Servant Poster Gig
          a.project-nav-item(href="" data-scroll='universal') Universal Music Spain DB (David Bisbal)*
          a.project-nav-item(href="" data-scroll='belleville') Belleville
          a.project-nav-item(href="" data-scroll='bluetrain') Bluetrain+Rotten City
          a.project-nav-item(href="" data-scroll='acronym') Acronym Poster Gig
          a.project-nav-item(href="" data-scroll='2014') 2014Completo
          a.project-nav-item(href="" data-scroll='tocados') Tocados Cárnicos

    .project-view-section
      .section
        
        
        .project(data-anchor='solid' id='solid' ) 
          .row
            .col-md-8
              h2.project-title Solid Tapes
          .row
            .col-md-8.col-md-offset-2
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_COLLAGE_PORTADA_2.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9536.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9547.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9558.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9568.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9576.jpg")
              img.project-img.lazy(data-original="images/portfolio/ST01_1993_ELENAGUILAR_IMG_9605.jpg")
        
        .project(data-anchor='solid_1993' id='solid_1993')
          .row
            .col-md-8
              h2.project-title Solid Tapes 1993
        
        .project(data-anchor='jsa' id='jsa' ) 
          .row
            .col-md-8
              h2.project-title JSA Camera
        
        .project(data-anchor='solid_virgulta' id='solid_virgulta' ) 
          .row
            .col-md-8
              h2.project-title Solid Tapes Virgulta
        
        .project(data-anchor='universal' id='universal' ) 
          .row
            .col-md-8
              h2.project-title Universal Music Spain MC
        
        .project(data-anchor='crumb' id='crumb' ) 
          .row
            .col-md-8
              h2.project-title Crumb
        
        .project(data-anchor='solid_ian' id='solid_ian' ) 
          .row
            .col-md-8
              h2.project-title Solid Tapes Ian G.
        
        .project(data-anchor='rotten' id='rotten' ) 
          .row
            .col-md-8
              h2.project-title Rotten City Records GN
        
        .project(data-anchor='solid_gxnzx' id='solid_gxnzx' ) 
          .row
            .col-md-8
              h2.project-title Solid Tapes GXNZX
        
        .project(data-anchor='lab' id='lab' ) 
          .row
            .col-md-8
              h2.project-title Lab
        
        .project(data-anchor='solid_beat' id='solid_beat' ) 
          .row
            .col-md-8
              h2.project-title Solid Tapes BeatLove
        
        .project(data-anchor='silent' id='silent' ) 
          .row
            .col-md-8
              h2.project-title Silent Servant Poster Gig
        
        .project(data-anchor='universal' id='universal' ) 
          .row
            .col-md-8
              h2.project-title Universal Music Spain DB (David Bisbal)*
        
        .project(data-anchor='belleville' id='belleville' ) 
          .row
            .col-md-8
              h2.project-title Belleville
        
        .project(data-anchor='bluetrain' id='bluetrain' ) 
          .row
            .col-md-8
              h2.project-title Bluetrain+Rotten City
        
        .project(data-anchor='acronym' id='acronym' ) 
          .row
            .col-md-8
              h2.project-title Acronym Poster Gig
        
        .project(data-anchor='2014' id='2014' ) 
          .row
            .col-md-8
              h2.project-title 2014Completo
        
        .project(data-anchor='tocados' id='tocados' ) 
          .row
            .col-md-8
              h2.project-title Tocados Cárnicos

        .project(data-anchor='solid-tapes' id='solid-tapes')
          .row
            .col-md-8
              h2.project-title Solid Tapes
              p.project-description Portada, diseño gráfico y packaging para la primera referencia de SOLID TAPES.  La primera referencia de SOLID TAPES consiste en una serie de remixes a partir de la canción 1993 del artista Abrigo De Pelos. Junto a él y Taller Piccolo se diseñó el packaging de la edición especial. El concepto trasladado a la portada, no fue más que la añoranza de la juventud y sus noches de fiesta en el ‘93.
            .col-md-4 — 
          .row
            .col-md-8.col-md-offset-2
              
        

    script(src='js/jquery-3.1.1.min.js')
    script(src='js/scroll.js')
    script(src='js/jquery.lazyload.min.js')
    script(type='text/javascript').
      $("img.lazy").lazyload();